body {
  width: 100%;
  line-height: 1.5;
  font-size: 100%;
  color: #313131;
  /*background-color: #FFF5D1;*/
}

html, body {
    margin: 0;
    height: 100%;
}
img {
  max-width: 100%;
  display: block;
  margin: auto;
}

hr {
  margin: 1em;
  width: 80%;
}

.list-menu {
  font-family: 'Raleway', sans-serif;

}

header{
  /*background-color: #50514F;*/
  padding: 1%;
}

#firstheader {
  /*background-color: #50514F;*/
}

nav{
  background-color: #F25F5C;
}

#category-filter {
  background-color: grey;
  color:
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  padding: 1%;
}

h1{
  color: #FFF5D1;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  padding: 1%;
  text-align: center;
}

h1.mytitle {
  font-family: 'Muli', sans-serif;
  font-size: 2em;
  font-weight: 700;
  box-shadow: 1px black;
  text-align: center;
}

address {
  display: inline-block;
}
.byline{
  color: black;
}

li {
  list-style: none;
  color: #302B2F;
  font-family: 'Rokkitt', serif;
  font-weight: 400;
}

li .tab-icon-home{
  font-family: 'Rokkitt', serif;

}
/*LINK STYLES
=======================================*/

a, a:link, a:active {
  list-style: none;
  color: #302B2F;
  font-family: 'Rokkitt', serif;
  font-weight: 400;
  /*padding: 1%;*/
  text-decoration: none;
  font-size: 1.25em;
}

a:hover, a:focus {
}

a:visited {
}
