body {
  width: 100%;
  line-height: 1.5;
  font-size: 100%;
  color: #313131;
}

ul {
-webkit-padding-start: 0px;
}

html, body {
    margin: 0;
    height: 100%;
}
img {
  max-width: 100%;
  display: block;
  margin: auto;
}

hr {
  margin: 1em;
  width: 80%;
}

#list-menu {
  font-family: 'Raleway', sans-serif;

}

header{
  padding: 1%;
}

nav{
  background-color: white;
}

#category-filter {
  background-color: grey;
  color:
}

#techskills li{
  padding: .5%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}

#education li{
  padding: .5%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}

#tscontainer h1{
  padding: 0%;
}

#portrespic{
  padding: 1%;
  width: 50%;
  margin: auto;
}
/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  padding: 1%;
}

h1 {
  color: #302B2F;
  font-family: 'Syncopate', sans-serif;
  font-weight: 400;
  padding: 1%;
  text-align: center;
}

h2 {
  color: #302B2F;
  font-family: 'Syncopate', sans-serif;
  font-weight: 400;
  padding: 1%;
  text-align: center;

}

#email a{
  font-size: 1.2em;
  font-size: 3vw;
}

h1.mytitle {
  font-family: 'Muli', sans-serif;
  font-size: 2em;
  font-weight: 700;
  box-shadow: 1px black;
  text-align: center;
}

address {
  display: inline-block;
}
.byline{
  color: black;
}

li {
  list-style: none;
  color: #302B2F;
  font-family: 'Rokkitt', serif;
  font-weight: 400;
}

li .tab-icon-home{
  font-family: 'Rokkitt', serif;

}
/*LINK STYLES
=======================================*/

a, a:link, a:active {
  list-style: none;
  color: #302B2F;
  font-family: 'Syncopate', sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-size: .65em;
}

a:hover, a:focus {
  color: #f25f5c;
  /*border-bottom: thin solid #f25f5c;*/
}

a:visited {
}
