.site-header {
  background: ##F77A52;
}

.heading-group-h1 {
  margin: auto;
  /*padding: 0 0 .2em 1em;*/
}


.icon-menu {
  position: absolute;
    top: 0;
    right: 0;
    padding: 2%;
 /*float: right;*/
 font-size: 20px;
}

.icon-cross {
  position: absolute;
    top: 0;
    right: 0;
    padding: 2%;
 /*float: right;*/
 font-size: 20px;
}

.main-nav {
  /*padding: 0.1em;*/ /*this will add a small line in the nav before it is opened in mobile view*/
  /*padding-left: 2em;
  padding-right: 2em;*/
  background: ##F77A52;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  /*border-bottom: 1px solid #50514F;*/
}

 #nameandlogo{
  list-style: none;
  color: #302B2F;
  font-family: 'Syncopate', sans-serif;
  font-weight: 400;
  /*padding-right: 30%;*/
  text-decoration: none;
  font-size: 1.25em;
}


#recent-projects {
color: #302B2F;
font-family: 'Syncopate', sans-serif;
font-weight: 400;
font-size: 2em;
padding-top: 10%;
padding-bottom: 2%;
text-align: center;
}

#filters {
  padding: 0;
  list-style: none;
  text-align: center;
}

#contact-list {
  text-align: center;
}

#contact-list li{
  display: inline;
  margin: 2%;
  font-size: 2em;
}

#contact-list i{
  display: inline;
  /*padding: 2%;*/
  font-size: 2em;
}

#footer-list {
  text-align: center;
}

#footer-list li{
  display: inline;
  margin: 2%;
  font-size: 2em;
}

#footer-list i{
  display: inline;
  /*padding: 2%;*/
  font-size: 2em;
}

.template {
  display: none;
}

.byline {
  color: #777;
  text-align: center;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

.mobile-trigger {
  width: 10%;
  float: right;
}

.icon-menu {
  hide
}

#home-page {
  padding-bottom: 1%;
    /*margin: auto;
    width: 80%;*/
}

.hometitles {
  color: #302b2f;
}

#background-head{
  height:auto;
  /*background-image:url("/img/deskbw.jpg");*/
  background-size: contain;
  background-repeat: no-repeat;
}

.read-on {
  margin-left: 2%;
}

#firstheader {
    border-bottom: white;
}

@media only screen and (min-width: 640px) {
  /*.icon-menu {
    display: none;
}*/

#firstheader {
    border-bottom: thin solid #302B2F !important;
    /* background-color: #50514F; */
}

.main-nav {
  padding: 0.1em;
  width: 100%;
  margin: auto;
  background: white;
  border-bottom: thin #302B2F;
}

.list-menu {
  display: block !important;
}

#ham-menu {
  display: none;
}

.main-nav ul {
  display: block;
  text-align: center;
}

.main-nav li {
  display: inline;
  /*border-bottom: 1px solid #F25F5C;*/

}

#nameandlogo{
 list-style: none;
 color: #302B2F;
 font-family: 'Syncopate', sans-serif;
 font-weight: 400;
 padding-right: 0%;
 text-decoration: none;
 font-size: 1em;
}
}

@media only screen and (min-width: 800px) {
  #nameandlogo {
    padding-right: 10%;
  }
}

@media only screen and (min-width: 1000px) {
  #nameandlogo {
    padding-right: 30%;
  }
}
