.site-header {
  background: ##F77A52;
}

.heading-group-h1 {
  margin: auto;
  /*padding: 0 0 .2em 1em;*/
}


.icon-menu {
  position: absolute;
    top: 0;
    right: 0;
    padding: 1%;
 /*float: right;*/
 font-size: 20px;
}

.main-nav {
  /*padding: 0.1em;*/ /*this will add a small line in the nav before it is opened in mobile view*/
  /*padding-left: 2em;
  padding-right: 2em;*/
  background: ##F77A52;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #50514F;
}

#filters {
  padding: 0;
  list-style: none;
  text-align: center;
}

.template {
  display: none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

.mobile-trigger {
  width: 10%;
  float: right;
}

.icon-menu {
  hide
}

#home-page {
  padding-bottom: 1%;
    /*margin: auto;
    width: 80%;*/
}

.hometitles {
  color: #302b2f;
}

#background-head{
  height:auto;
  /*background-image:url("/img/deskbw.jpg");*/
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
}

.main-nav {
  padding: 0.1em;
  /*width: 85%;*/
  margin: auto;
  /*padding-left: 2em;
  padding-right: 2em;*/
  background: white;
}

.main-nav ul {
  display: block;
  text-align: center;
}

.main-nav li {
  display: inline;
  border-bottom: 1px solid #F25F5C;

}

}
